<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="someService" class="com.dianpoint.summer.test.aop.proxy.SomeServiceImpl"/>
    <bean id="proxyAction" class="com.dianpoint.summer.aop.ProxyFactoryBean">
        <property type="java.lang.Object" name="target" ref="someService"/>
    </bean>
</beans>